@font-face{
    font-family: 'lucySaid';
    src: url('Child\ Hood.otf');
}

#leftSide{
    /*  */
    margin: 0;
   
}

#rightSide{
    /*  */
    margin: 0;
}



.random-img {
      position: absolute;
      max-width: 100px;
      max-height: 100px;
      user-select: none;
      pointer-events: none;
    }

body{
    display: flex;
    flex-direction: column;
    background-color: #EBDED4;
    margin: 0;
    padding: 0;
    font-family: 'lucySaid';

}

.hanging-sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


img {
  display: block;        /* removes inline spacing */
  margin: 0;             /* no default margin */
  padding: 0;            /* no default padding */
  border: none;          /* no border showing */
  background: none;      /* removes any background */
}

.balloon .left{
    transform: rotate(90deg);
}


.main{
    display: flex;
    margin: 30px;
    flex-direction: column;
    /*  */
    justify-content: center;

}

.balloon{
    width: 200px;
    height: 300px;
}

.mtop{
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: 'lucySaid';
    /*  */
}

.mbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    
}

.mbottom{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    
}

.mbottom p{
    
    margin: 30px;
}



#container{

    
}

#blow{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 11px;
}

.bottom-blow{
    display: flex;
    justify-content: center;
}


#birthday-sign{
    width: 1200px;
}
